@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


:root{
  --color-primary: #7380ec;
  --color-primary-opa: #616ee9;

  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-primary-variant-opa: #2332a8;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --color-dark-light: #313444;

  --box-shadow: 0 2rem 3rem var(--color-light);

  --main-color: #bc6202;
  --second-color: #db3e00;
  --second-color-light-2: #e94302de;
  --second-color-light: #db3e001f;
  --primary-color: white;
  --main-color-opacity: #bc62021c;
  --box-shadow-2: 0 0 0 rgba(0,0,0,0.5);
  --bg-1: yellow;

  --home-bg: #fd840234;
  --home-btn: #34bf77;
  --home-btn-light: #0eeb7933;
  --home-bg-2: #fd84021e;
}

.container{
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: 15rem auto 23rem;
  background: var(--color-background);
}

.menubarContainer{
  height: 100%;
  position: relative;
}

.mainContainer{
  height: 100%;
  position: relative;
  width: 95%;
  overflow-x: hidden;
}

.asideContainer{
  height: 100%;
  position: relative;
}

.menuLink{
  color: var(--color-dark);
}

.h-1{
  font-weight: 800;
  font-size: 1.8rem;
}

.h-2{
  font-size: 1.4rem;
}

.h-3{
  font-size: 0.87rem;
}

.h-4{
  font-size: 0.8rem;
}

.h-5{
  font-size: 0.77rem;
}

.small{
  font-size: 0.75rem;
}

.admin-profile{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.text-muted{
  color: var(--color-info-dark);
}

.para{
  color: var(--color-dark-variant);
}

.bold{
  color: var(--color-dark);
}

.primary{
  color: var(var(--color-primary));
}

.danger{
  color: var(--color-danger);
}

.success{
  color:  var(--color-success);
}

.warning{
  color: var(--color-warning);
}

.link{
  text-decoration: none;
  color: inherit;
}

.button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--second-color);
  color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 19px;
  font-weight: 500;
}

/*POPUP */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: top 0.3s ease-in-out;
  z-index: 9999;
}

.popup.active {
  top: 50%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
}

.popup-content {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-danger);
}

.popup-close:hover {
  opacity: 0.8;
}

/*END OF POPUP*/

.input{
  padding: 8px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  background: var(--color-info-light);
  color: var(--color-dark);
  border-radius: 5px;
  font-size: 18px;
  outline: none;
}

@media screen and (max-width: 1200px) {
  .container{
      grid-template-columns: 7rem auto 23rem;
      width: 100%;
      gap: 1rem;
      overflow-x: hidden;
  }

}


@media screen and (max-width: 950px) {
  .mainContainer{
      width: 82vw;
      
      margin-left: 8rem;
      margin-top: 4rem;
      overflow-x: hidden;
  }

  .menubarContainer{
      position: absolute;
  }

  .asideContainer{
      height: 3.4rem;
  }
}

@media screen and (max-width: 768px) {
  .mainContainer{
      width: 94vw;
      margin-left: 0;
      padding-right: 2rem;
      margin-top: 4rem;
      overflow-x: hidden;
  }

  .menubarContainer{
      position: absolute;
  }

  .asideContainer{
      height: 3.4rem;
  }
}