.loading-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-card .loading{
    border: 6px solid var( --color-dark-variant);
    border-radius: 50%;
    border-color: var( --color-dark-variant) transparent var( --color-dark-variant) transparent;
    animation: spin 1.3s ease infinite;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}