.navbar{
    position: fixed;
    width: 100%;
    height: 65px;
    background: var(--color-white);
    box-shadow: 0px 10px 15px rgba(219, 62, 0, 0.3);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.navbar .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
}

.navbar .nav .logo{
    font-size: 24px;
    font-weight: 600;
    color: var(--second-color);
}

.navbar .nav .menus{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar .menus .link{
    font-size: 18px;
    transition: all 300ms ease;
}

.navbar .menus .link.startBtn{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    background: var(--second-color);
    color: var(--color-white);
}

.navbar .nav .menus .link.loginBtn{
    font-weight: 500;
    font-size: 20px;
}

.navbar .nav .menus .link.loginBtn:hover{
    color: var(--second-color);
}

@media screen and (max-width: 800px) {
    .navbar .nav{
        width: 95vw;
    }
}