.aside{
    position: fixed;
    width: 23rem;
    height: 100%;
    top: 0;
    right: 0;
    margin-top: 1.4rem;
    padding-right: 2rem;
}

.aside .a-top{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.aside .menu{
    display: none;
}

.aside .a-top .a-profile{
    display: flex;
    gap: 2rem;
    text-align: right;
    align-items: center;
}

.aside .a-top .a-profile .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: -30px;
}

.aside .a-top .a-profile .info small{
    font-size: 16px;
}

.aside .a-top .a-profile .adminImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.aside .recentUpdates{
    margin-top: 1rem;
}

.aside .recentUpdates h2{
    margin-bottom: 3rem;
}

.aside .recentUpdates .updates{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
}

.aside .recentUpdates .updates:hover{
    box-shadow: none;
}

.aside .recentUpdates .updates .viewAll{
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    color: var(--color-primary-variant);
}

.aside .recentUpdates .updates .update{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.aside .updates .update .admin-profile{
    width: 2.6rem;
}

.aside .updates .update .message{
    width: auto;
}

.aside .sales-analytics{
    margin-top: 2rem;
}

.aside .sales-analytics h2{
    margin-bottom: 1rem;
}

.aside .sales-analytics .item{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.aside .sales-analytics .item:hover{
    box-shadow: none;
}

.aside .sales-analytics .item .right{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    width: 100%;
}

.aside .sales-analytics .item .icon{
    height: 50px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    display: flex;
    background: var(--color-primary);
}

.aside .sales-analytics .item.offline .icon{
    background: var(--color-danger);
}

.aside .sales-analytics .item.customers .icon{
    background: var(--color-success);
}

.aside .sales-analytics .add-product{
    background: transparent;
    border:  2px dashed var(--color-primary);
    display: flex;
    color: var(--color-primary);
    align-items: center;
    justify-content: center;
}

.aside .sales-analytics .add-product .div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.aside .sales-analytics .add-product .div h3{
    font-weight: 600;
}

@media screen and (max-width: 1500px) {
    .aside .hide{
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .aside{
        z-index: 200;
        height: 3.4rem;
    }

    .aside .a-top{
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        background: var(--color-white);
        padding: 0 0.8rem;
        height: 4.6rem;
        margin: 0;
        z-index: 6;
        box-shadow: 0 1rem 1rem var(--color-light);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 500;
    }

    .aside .menu{
        display: block;
        cursor: pointer;
    }

    .aside .menu .menuIcon{
        font-size: 40px;
    }

    .admin-profile{
        margin-right: 2rem;
    }

    .aside .recentUpdates,
    .aside .sales-analytics{
        display: none;
    }
}