.hero{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.hero .heroCard{
    width: 80vw;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    position: relative;
    
}

.hero .heroCard .bonus{
    position: absolute;
    border-radius: 50%;
    padding: 20px;
    background: var(--second-color);
    color: var(--color-white);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    bottom: 6rem;
    left: 20rem;
    width: 100px;
    height: 100px;
}

.hero .heroCard .bonus h2{
    font-size: 20px;
    font-family: "Birthstone", cursive;
    font-weight: 500;
}

.hero .heroCard .bonus span{
    font-size: 40px;
    font-weight: 600;
    margin-top: -3rem;
    margin-bottom: -3rem;
}

.hero .heroCard .bonus p{
    font-size: 14px;
}

.hero .heroCard .left,
.hero .heroCard .right{
    flex: 1;
}

.hero .heroCard .left h1{
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-size: 120px;
}

.hero .heroCard .floatingText{
    margin-top: -6rem;
    height: 70px;
    overflow: hidden;
}

.hero .heroCard .floatingText span{
    display: flex;
    height: 100%;
    font-size: 50px;
    animation: spin 6s infinite;
    font-weight: 600;
    color: var(--second-color);

}

@keyframes spin {
    10%{
        transform:  translateY(-112%);
    }
    25%{
        transform:  translateY(-100%);
    }
    35%{
        transform:  translateY(-212%);
    }
    50%{
        transform:  translateY(-200%);
    }
    60%{
        transform:  translateY(-312%);
    }
    75%{
        transform:  translateY(-300%);
    }
    85%{
        transform:  translateY(-412%);
    }
    100%{
        transform:  translateY(-400%);
    }
}

.hero .heroCard .left p{
    font-size: 20px;
    font-weight: 500;
}

.hero .heroCard .left p span{
    color: var(--second-color);
    font-weight: 700;
    font-size: 23px;
}

.hero .heroCard .left p span:last-child{
    font-size: 35px;
}

.hero .left .cta{
    margin-top: 3rem;
}

.hero .left .cta .link{
    padding: 10px 25px;
    background: var(--second-color);
    color: var(--primary-color);
    font-size: 20px;
    border-radius: 15px;
    margin-top: 1rem;
    transition: all 300ms ease;
}

.hero .heroCard .right{
    display: flex;
    justify-content: flex-end;
}

.hero .heroCard .right img{
    width: 70%;
}

@media screen and (max-width: 1010px) {
    .hero .heroCard .bonus{
        width: 70px;
        height: 70px;
        bottom: 4rem;
    }

    .hero .heroCard .bonus span{
        font-size: 30px;
    }

    .hero .heroCard .bonus p{
        font-size: 11px;
    }
}

@media screen and (max-width: 800px) {
    .hero{
        padding-bottom: 4rem;
    }

    .hero .heroCard .bonus{
        top: 4rem;
        left: 50vw;
        padding: 30px;
    }

    .hero .heroCard{
        width: 95vw;
    }

    .hero .heroCard{
        flex-direction: column;
    }

    .hero .heroCard .right{
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .hero .heroCard .bonus{
        top: 4rem;
        left: 70vw;
        padding: 30px;
    }

    .hero .heroCard .bonus span{
        font-size: 25px;

    }

    .hero .heroCard .bonus p{
        font-size: 11px;
    }
}

@media screen and (max-width: 430px) {
    .hero .heroCard .bonus{
        top: 3rem;
        left: 70vw;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .hero .heroCard .bonus span{
        font-size: 20px;
        font-weight: 700;
    }
    
    .hero .heroCard .bonus p{
        font-size: 11px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }
}