.footer{
    margin-top: auto;
    width: 100vw;
    background: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
}

.footer .footerCard{
    width: 85vw;
    display: flex;
    flex-direction: column;
}

.footer .footerCard .up{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.footer .footerCard .logo{
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}

.footer .footerCard .logo .name{
    font-size: 40px;
    margin-bottom: 1rem;
}

.footer .footerCard .logo .link{
    font-size: 19px;
}


.footer .footerCard .linksMenu{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.footer .footerCard .linksMenu .links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 19px;
    color: var(--color-white);
}

.footer .footerCard .socials{
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}

.footer .footerCard .socials h3{
    font-size: 27px;
}

.footer .footerCard .socials .socialsIcons{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-top: -1rem;
}

.footer .footerCard .socials .socialsIcons .icon{
    font-size: 40px;
    cursor: pointer;
}

.footer .footerCard .down{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footerCard .down .imprint{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: var(--color-white);
}

.footer .footerCard .down .imprint .icons{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.footer .footerCard .down .imprint .icons .icon{
    font-size: 40px;
}

@media screen and (max-width: 800px) {
    .footer .footerCard .up{
        flex-direction: column;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 450px) {
    .footer .footerCard .linksMenu{
        flex-direction: column;
    }

    .footer .footerCard .down{
        margin-top: 3rem;
    }
}